<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Juego Asteroides</name>
    <description>
        Juego demostracion para curso de Miriada X
    </description>
    <author email="francistocino@hotmail.com" href="http://www.sugar4brain.com">
        @ Francis Tocino
    </author>

    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <engine name="android" spec="~6.0.0" />

    <plugin name="cordova-plugin-device-motion" spec="1.2.3" />
    <plugin name="cordova-plugin-media" spec="2.4.1" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="2.1.0" />

</widget>
